#ignore node libraries
node_modules

#ignore logs
logs

#ignore package lock
package-lock.json

#ignore enviroment variables
.env

#ignore public and private keys
*.pem
*.crt
*.cer
*.keys
*.req
*.csr

#ignore bootstrap design files
*.bsdesign